<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
  </head>

  <body>
    <div class="areaTotal">
      <div class="resultado">
        <span class="conteudoResultado">0</span>
      </div>

      <div class="linha">
        <div class="tecla">
          <span class="operacao">C<!-- &#10006; --></span>
        </div>
      </div>

      <div class="linha">
        <div class="tecla">
          <span class="conteudoTecla">7</span>
        </div>
        <div class="tecla">
          <span class="conteudoTecla">8</span>
        </div>
        <div class="tecla">
          <span class="conteudoTecla">9</span>
        </div>

        <div class="tecla">
          <span class="operacao">&divide;</span>
        </div>
      </div>

      <div class="linha">
        <div class="tecla">
          <span class="conteudoTecla">4</span>
        </div>
        <div class="tecla">
          <span class="conteudoTecla">5</span>
        </div>
        <div class="tecla">
          <span class="conteudoTecla">6</span>
        </div>

        <div class="tecla">
          <span class="operacao">&times;</span>
        </div>
      </div>

      <div class="linha">
        <div class="tecla">
          <span class="conteudoTecla">1</span>
        </div>
        <div class="tecla">
          <span class="conteudoTecla">2</span>
        </div>
        <div class="tecla">
          <span class="conteudoTecla">3</span>
        </div>

        <div class="tecla">
          <span class="operacao">&#43;</span>
        </div>
      </div>

      <div class="linha">
        <div class="tecla">
          <span class="conteudoTecla">0</span>
        </div>
        <div class="tecla">
          <span class="operacao">&#61;</span>
        </div>

        <div class="tecla">
          <span class="operacao">&minus;</span>
        </div>
      </div>

    </div>
  </body>
</html>